body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: 500;
    background: linear-gradient(45deg, #90caf9, #b0bec5);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.ValuesApp {
  text-align: center;
}

@keyframes burst {
    0% { transform: scale(1.0); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1.0); }
}

h1.instructions {
    font-weight: 400;
    font-size: 24px;
}

.progress {
    font-weight: 500;
}

.number-selected {
    display: inline-block;
    animation-name: burst;
    animation-duration: 200ms;
}
